export const runtime = "edge";

export default function Page() {
  return (
    <main className="w-full">
      <h1>{{sentenceCase name}}</h1>
      {/* Page content for {{pascalCase name}} */}
    </main>
  );
}
