import CodeToggle from '@/components/CodeToggle'
import { {{ pascalCase name }} as Start } from './start'
import { {{ pascalCase name }} as Finish } from './finish'

const Kata = (): React.JSX.Element => {
  return (
    <>
      <h1 className="mb-2">{{ sentenceCase name }}</h1>
      <CodeToggle
      start={
        <Start />
      }
      finish={
        <Finish />
      }
        />
    </>
  )
}

export default Kata